# What is Python?
Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

### It is used for:
1. web development (server-side),
2. software development,
3. mathematics,
4. system scripting.

### What can Python do?
1. Python can be used on a server to create web applications.
2. Python can be used alongside software to create workflows.
3. Python can connect to database systems. It can also read and modify files.
4. Python can be used to handle big data and perform complex mathematics.
5. It can be used for machine learning applications, data analytics, etc,.

### Why Python?
1. Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
2. Python has a simple syntax similar to the English language.
3. Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
4. Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
5. Python can be treated in a procedural way, an object-orientated way or a functional way.

### Good to know
The most recent major version of Python is Python 3, which we shall be using in this tutorial. However, Python 2, although not being updated with anything other than security updates, is still quite popular.

### Python Syntax compared to other programming languages
1. Python was designed for readability, and has some similarities to the English language with influence from mathematics.
2. Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.
3. Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.

# Getting started with Python

This notebook will just go through the basic topics in order:

* Python Indentation
* Python comments
* Python variables
* Data types
    * Built-in Data Types
    * Getting the Data Type
    * Setting the Data Type
    * Setting the Specific Data Type
    * Numbers
    * Casting: Specifying a Variable Type
    * Strings
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Python Indentation
Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

In [1]:
import sys
print(sys.version)

3.7.3 (default, Mar 27 2019, 17:13:21) [MSC v.1915 64 bit (AMD64)]

In [2]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [3]:
#Python will give you an error if you skip the indentation:

if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block (<ipython-input-3-117f057f582e>, line 4)

In [ ]:
#The number of spaces is up to you as a programmer, but it has to be at least one.

if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

In [ ]:
#You have to use the same number of spaces in the same block of code, otherwise Python will give you an error:

if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

## Python Comments

Comments can be used to explain Python code.
Comments can be used to make the code more readable.
Comments can be used to prevent execution when testing code.

Creating a Comment
Comments starts with a #, and Python will ignore them:

In [ ]:
#This is a comment
print("Hello, World!")

#Comments can be placed at the end of a line, and Python will ignore the rest of the line:
print("Hello, World!") #This is a comment

#Comments does not have to be text to explain the code, it can also be used to prevent Python from executing code:
#print("Hello, World!")
print("Cheers, Mate!")

### Multi Line Comments
Python does not really have a syntax for multi line comments.

To add a multiline comment you could insert a # for each line:

In [ ]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Or, not quite as intended, you can use a multiline string.

Since Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it:

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

## Python Variables
### Creating Variables

Variables are containers for storing data values.

Unlike other programming languages, Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [ ]:
x = 5
y = "John"
print(x)
print(y)

In [ ]:
#Variables do not need to be declared with any particular type and can even change type after they have been set.

x = 4 # x is of type int
x = "Sally" # x is now of type str
print(x)

### Variable Names
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
1. A variable name must start with a letter or the underscore character
2. A variable name cannot start with a number
3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
4. Variable names are case-sensitive (age, Age and AGE are three different variables)

Example: 
#Legal variable names:
* myvar = "John"
* my_var = "John"
* _my_var = "John"
* myVar = "John"
* MYVAR = "John"
* myvar2 = "John"

#Illegal variable names:
* 2myvar = "John"
* my-var = "John"
* my var = "John"

In [ ]:
"""
Assign Value to Multiple Variables
Python allows you to assign values to multiple variables in one line:
"""
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

"""
And you can assign the same value to multiple variables in one line:
"""
a = b = c = "Orange"
print(a)
print(b)
print(c)

In [ ]:
#The Python print statement is often used to output variables.
#To combine both text and a variable, Python uses the + character:
x = "awesome"
print("Python is " + x)

#You can also use the + character to add a variable to another variable:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

#For numbers, the + character works as a mathematical operator:
x = 5
y = 10
print(x + y)

#If you try to combine a string and a number, Python will give you an error:
x = 5
y = "John"
print(x + y)

## Data types

### Built-in Data Types
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview

### Getting the Data Type
You can get the data type of any object by using the type() function

In [ ]:
x = 5
print(type(x))

### Setting the Data Type

In [4]:
var1 = "Hello World"    #str
var2 = 20               #int
var3 = 20.5             #float
var4 = 1j               #complex
var5 = ["apple", "banana", "cherry"]    #list
var6 = ("apple", "banana", "cherry")    #tuple
var7 = range(6)         #range
var8 = {"name" : "John", "age" : 36}    #dict
var9 = {"apple", "banana", "cherry"}    #set
var10 = frozenset({"apple", "banana", "cherry"})    #frozenset
var11 = True                            #bool
var12 = b"Hello"                        #bytes
var13 = bytearray(5)                    #bytearray
var14 = memoryview(bytes(5))            #memoryview

In [5]:
print(var1,type(var1))
print(var2,type(var2))
print(var3,type(var3))
print(var4,type(var4))
print(var5,type(var5))
print(var6,type(var6))
print(var7,type(var7))
print(var8,type(var8))
print(var9,type(var9))
print(var10,type(var10))
print(var11,type(var11))
print(var12,type(var12))
print(var13,type(var13))
print(var14,type(var14))

Hello World <class 'str'>
20 <class 'int'>
20.5 <class 'float'>
1j <class 'complex'>
['apple', 'banana', 'cherry'] <class 'list'>
('apple', 'banana', 'cherry') <class 'tuple'>
range(0, 6) <class 'range'>
{'name': 'John', 'age': 36} <class 'dict'>
{'banana', 'apple', 'cherry'} <class 'set'>
frozenset({'banana', 'apple', 'cherry'}) <class 'frozenset'>
True <class 'bool'>
b'Hello' <class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00') <class 'bytearray'>
<memory at 0x000001EDA9B53AC8> <class 'memoryview'>

### Setting the Specific Data Type

In [6]:
var1 = str("Hello World")                           #str
var2 = int(20)                                      #int
var3 = float(20.5)                                  #float
var4 = complex(1j)                                  #complex
var5 = list(("apple", "banana", "cherry"))          #list
var6 = tuple(("apple", "banana", "cherry"))         #tuple
var7 = range(6)                                     #range
var8 = dict(name="John", age= 36)                   #dict
var9 = set(("apple", "banana", "cherry"))           #set
var10 = frozenset(("apple", "banana", "cherry"))    #frozenset
var11 = bool(5)                                     #bool
var12 = bytes(5)                                    #bytes
var13 = bytearray(5)                                #bytearray
var14 = memoryview(bytes(5))                        #memoryview

In [7]:
print(var1,type(var1))
print(var2,type(var2))
print(var3,type(var3))
print(var4,type(var4))
print(var5,type(var5))
print(var6,type(var6))
print(var7,type(var7))
print(var8,type(var8))
print(var9,type(var9))
print(var10,type(var10))
print(var11,type(var11))
print(var12,type(var12))
print(var13,type(var13))
print(var14,type(var14))

Hello World <class 'str'>
20 <class 'int'>
20.5 <class 'float'>
1j <class 'complex'>
['apple', 'banana', 'cherry'] <class 'list'>
('apple', 'banana', 'cherry') <class 'tuple'>
range(0, 6) <class 'range'>
{'name': 'John', 'age': 36} <class 'dict'>
{'banana', 'apple', 'cherry'} <class 'set'>
frozenset({'banana', 'apple', 'cherry'}) <class 'frozenset'>
True <class 'bool'>
b'\x00\x00\x00\x00\x00' <class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00') <class 'bytearray'>
<memory at 0x000001EDA9B53948> <class 'memoryview'>

### Numbers
There are three numeric types in Python:

1. int
2. float
3. complex

Variables of numeric types are created when you assign a value to them

In [8]:
#Int: Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.
x = 1
y = 35656222554887711
z = -3255522

print(x,type(x))
print(y,type(y))
print(z,type(z))

1 <class 'int'>
35656222554887711 <class 'int'>
-3255522 <class 'int'>

In [9]:
#Float: Float, or "floating point number" is a number, positive or negative, containing one or more decimals.
x = 1.10
y = 1.0
z = -35.59

print(x,type(x))
print(y,type(y))
print(z,type(z))

1.1 <class 'float'>
1.0 <class 'float'>
-35.59 <class 'float'>

In [10]:
#Float can also be scientific numbers with an "e" to indicate the power of 10.

x = 35e3
y = 12E4
z = -87.7e100

print(x,type(x))
print(y,type(y))
print(z,type(z))

35000.0 <class 'float'>
120000.0 <class 'float'>
-8.77e+101 <class 'float'>

In [11]:
#Complex: Complex numbers are written with a "j" as the imaginary part:

x = 3+5j
y = 5j
z = -5j

print(x,type(x))
print(y,type(y))
print(z,type(z))

(3+5j) <class 'complex'>
5j <class 'complex'>
(-0-5j) <class 'complex'>

### Casting: Specifying a Variable Type

There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

int() - constructs an integer number from an integer literal, a float literal (by rounding down to the previous whole number), or a string literal (providing the string represents a whole number)
float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [12]:
#Integers
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
w = int(True) # w will be 1

In [13]:
#Floats
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [14]:
#Strings
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

### Strings

In [15]:
'single quotes'

'single quotes'

In [16]:
"double quotes"

'double quotes'

In [17]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

In [18]:
print("""this is a 
multiline
string""")

this is a
multiline
string

In [19]:
#Strings are Arrays
string = "Hello, World!"
print(string[1])

e

In [20]:
#Slicing
print(string[2:5])
print(string[:])
print(string[-5:-2])

llo
Hello, World!
orl

In [21]:
#Finding the length of the string
print(len(string))

13

### String Methods
Python has a set of built-in methods that you can use on strings.

* The strip() method removes any whitespace from the beginning or the end:
* The upper() method returns the string in upper case:
* The replace() method replaces a string with another string:
* The split() method splits the string into substrings if it finds instances of the separator:

### Check String
To check if a certain phrase or character is present in a string, we can use the keywords in or not in.

### String Concatenation
To concatenate, or combine, two strings you can use the + operator.

### String Format
* As we learned in the Python Variables chapter, we cannot combine strings and numbers.
* But we can combine strings and numbers by using the format() method!
* The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are
* The format() method takes unlimited number of arguments, and are placed into the respective placeholders
* You can use index numbers {0} to be sure the arguments are placed in the correct placeholders

In [22]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

a = "Hello, World!"
print(a.lower()) # returns "hello, world!"
print(a.upper()) # returns "HELLO, WORLD!"

print(a.replace("H", "J")) # returns Jello, World!
print(a.split(",")) # returns ['Hello', ' World!']


txt = "The rain in Spain stays mainly in the plain"
x = "ain" in txt
print(x) # returns True

x = "ain" not in txt
print(x) # returns False

a = "Hello"
b = "World"
c = a + b
print(c) # returns HelloWorld


a = "Hello"
b = "World"
c = a + " " + b
print(c) # returns Hello World

age = 36
txt = "My name is John, and I am {}"
print(txt.format(age)) # returns My name is John, and I am 36

quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price)) # returns I want 3 pieces of item 567 for 49.95 dollars.

quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price)) # returns I want to pay 49.95 dollars for 3 pieces of item 567.

num = 12
name = 'Sam'
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name)) # returns My number is: 12, and my name is: Sam

Hello, World!
hello, world!
HELLO, WORLD!
Jello, World!
['Hello', ' World!']
True
False
HelloWorld
Hello World
My name is John, and I am 36
I want 3 pieces of item 567 for 49.95 dollars.
I want to pay 49.95 dollars for 3 pieces of item 567.
My number is: 12, and my name is: Sam

### Escape Character
* To insert characters that are illegal in a string, use an escape character.
* An escape character is a backslash \ followed by the character you want to insert.
* An example of an illegal character is a double quote inside a string that is surrounded by double quotes
* The escape character allows you to use double quotes when you normally would not be allowed

In [23]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (<ipython-input-23-56cdf4283a8e>, line 1)

In [24]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

### Lists
A list is a collection which is ordered and changeable. In Python lists are written with square brackets.

In [25]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
#Access Items
print(thislist[1])
#Negative Indexing
print(thislist[-1])
#Range of Indexes
print(thislist[2:5])

banana
mango
['cherry', 'orange', 'kiwi']

In [26]:
print(thislist[:4])
print(thislist[2:])
print(thislist[-4:-1])

['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon']

In [27]:
nest = [1,2,3,[4,5,['target']]]

In [28]:
print(nest[3])
print(nest[3][2])
print(nest[3][2][0])

[4, 5, ['target']]
['target']
target

In [29]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [30]:
if "apple" in thislist:
    print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [31]:
print(thislist)
print(len(thislist))

['apple', 'blackcurrant', 'cherry']
3

In [32]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [33]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [34]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [35]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [36]:
thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist)

NameError: name 'thislist' is not defined

In [37]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [38]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist
mylist[0] = "orange"
print(mylist)
print(thislist)

['orange', 'banana', 'cherry']
['orange', 'banana', 'cherry']

In [1]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
mylist[0] = "orange"
print(mylist)
print(thislist)

['orange', 'banana', 'cherry']
['apple', 'banana', 'cherry']

In [40]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [41]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [42]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

### Dictionaries
Python dictionary is an unordered collection of items. Each item of a dictionary has a key/value pair.

Constructing a Dictionary
Let's see how we can construct dictionaries to get a better understanding of how they work!

In [43]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}

In [44]:
# Call values by their key
my_dict['key2']

'value2'

In [45]:
#Its important to note that dictionaries are very flexible in the data types they can hold. For example:

my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}
print(my_dict)

{'key1': 123, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

In [46]:
#Lets call items from the dictionary
print(my_dict['key3'])

# Can call an index on that value
print(my_dict['key3'][0])

#Can then even call methods on that value
print(my_dict['key3'][0].upper())

['item0', 'item1', 'item2']
item0
ITEM0

In [47]:
#We can effect the values of a key as well. For instance:
print(my_dict['key1'])

# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123

#Check
print(my_dict['key1'])

123
0

In [48]:
"""
A quick note, Python has a built-in method of doing a self subtraction or addition (or multiplication or division). 
We could have also used += or -= for the above statement. For example:
"""
# Set the object equal to itself minus 123 
my_dict['key1'] -= 123
my_dict['key1']

-123

In [49]:
#We can also create keys by assignment. For instance if we started off with an empty dictionary,we could continually add to it:

# Create a new dictionary
d = {}

# Create a new key through assignment
d['animal'] = 'Dog'

# Can do this with any object
d['answer'] = 42

#Show
d

{'animal': 'Dog', 'answer': 42}

### Nesting with Dictionaries
Hopefully you're starting to see how powerful Python is with its flexibility of nesting objects and calling methods on them. Let's see a dictionary nested inside a dictionary:

In [50]:
# Dictionary nested inside a dictionary nested in side a dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

#Wow! That's a quite the inception of dictionaries! Let's see how we can grab that value:

# Keep calling the keys
d['key1']['nestkey']['subnestkey']

'value'

### A few Dictionary Methods
There are a few methods we can call on a dictionary. Let's get a quick introduction to a few of them:

In [51]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

# Method to return a list of all keys 
print(d.keys())

# Method to grab all values
print(d.values())

# Method to return tuples of all items  (we'll learn about tuples soon)
print(d.items())

dict_keys(['key1', 'key2', 'key3'])
dict_values([1, 2, 3])
dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

In [52]:
for key,value in d.items():
    print("Key: ",key,",Value: ",value)

Key:  key1 ,Value:  1
Key:  key2 ,Value:  2
Key:  key3 ,Value:  3

### Booleans
Booleans represent one of two values: True or False.

Boolean Values
* In programming you often need to know if an expression is True or False.
* You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [53]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [54]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

Most Values are True
* Almost any value is evaluated to True if it has some sort of content.
* Any string is True, except empty strings. 
* Any number is True, except 0.
* Any list, tuple, set, and dictionary are True, except empty ones.

In [55]:
#True
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

In [56]:
#False
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

### Tuples 
A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

In [57]:
t = ("apple", "banana", "cherry")

In [58]:
t[0]

'apple'

In [59]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [60]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x,type(x))

('apple', 'kiwi', 'cherry') <class 'tuple'>

In [61]:
#Create Tuple With One Item
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [62]:
#Tuples are unchangeable, so you cannot remove items from it, but you can delete the tuple completely
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

In [63]:
#Joining two tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

### Sets
A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

In [64]:
{1,2,3}

{1, 2, 3}

In [65]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [66]:
#Add an item to a set, using the add() method:

thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'orange', 'banana', 'apple', 'cherry'}

In [67]:
#Add multiple items to a set, using the update() method:

thisset = {"apple", "banana", "cherry"}
thisset.update(["orange", "mango", "grapes"])
print(thisset)

{'apple', 'cherry', 'orange', 'mango', 'grapes', 'banana'}

In [68]:
thisset[0]

TypeError: 'set' object is not subscriptable

In [69]:
#Remove: Remove "banana" by using the remove() method:

thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

KeyError: 'banana'

In [70]:
#Discard: Remove "banana" by using the discard() method:

thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)
thisset.discard("banana")
print(thisset)

{'apple', 'cherry'}
{'apple', 'cherry'}

In [71]:
#Join Two Sets: 

#Union: The union() method returns a new set with all items from both sets:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

#Update: The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'c', 'a'}
{1, 2, 3, 'b', 'c', 'a'}

## Comparison Operators
Comparison operators are used to compare two values:

In [72]:
1 > 2

False

In [73]:
1 < 2

True

In [74]:
1 >= 1

True

In [75]:
1 <= 4

True

In [76]:
1 == 1

True

In [77]:
'hi' == 'bye'

False

## Logic Operators
Logical operators are used to combine conditional statements:

In [78]:
(1 > 2) and (2 < 3)

False

In [79]:
(1 > 2) or (2 < 3)

True

In [80]:
(1 == 2) or (2 == 3) or (4 == 4)

True

In [81]:
not(3 < 5 and 2 < 10)

False

## if,elif, else Statements

In [82]:
if 1 < 2:
    print('Yep!')

Yep!

In [83]:
if 1 < 2:
    print('yep!')

yep!

In [84]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [85]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [86]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

In [87]:
x = 41

if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        pass

Above ten,
and also above 20!

## for Loops
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [88]:
seq = [1,2,3,4,5]

In [89]:
for item in seq:
    print(item)

1
2
3
4
5

In [90]:
for item in 'python':
    print(item)

p
y
t
h
o
n

In [91]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops
With the while loop we can execute a set of statements as long as a condition is true.

In [92]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [93]:
#With the break statement we can stop the loop even if the while condition is true:
#Exit the loop when i is 3:

i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [94]:
#With the continue statement we can stop the current iteration, and continue with the next:
#Continue to the next iteration if i is 3:

i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

## range()

In [95]:
range(5)

range(0, 5)

In [96]:
for i in range(5):
    print(i)

0
1
2
3
4

In [97]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [98]:
x = [1,2,3,4]

In [99]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [100]:
[item**2 for item in x]

[1, 4, 9, 16]

In [101]:
# Check for even numbers in a range
lst = [x for x in range(11) if x % 2 == 0]
print(lst)

[0, 2, 4, 6, 8, 10]

In [102]:
# Convert Celsius to Fahrenheit
celsius = [0,10,20.1,34.5]

fahrenheit = [ ((float(9)/5)*temp + 32) for temp in celsius ]

fahrenheit

[32.0, 50.0, 68.18, 94.1]

In [103]:
# We can also perform nested list comprehensions, for example:
lst = [ x**2 for x in [x**2 for x in range(11)]]
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

## Functions
* A function is a block of code which only runs when it is called.
* You can pass data, known as parameters, into a function.
* A function can return data as a result.

Creating a Function
* In Python a function is defined using the def keyword

In [104]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [105]:
print(my_func.__doc__)
print(my_func)

    Docstring goes here.

<function my_func at 0x000001EDA9D3D8C8>

In [106]:
my_func()

default

In [107]:
my_func('new param')

new param

In [108]:
my_func(param1='new param')

new param

In [109]:
def square(x):
    return x**2

In [110]:
out = square(2)

In [111]:
print(out)

4

## Lambda Expressions
* A lambda function is a small anonymous function.
* A lambda function can take any number of arguments, but can only have one expression.

In [112]:
def times2(var):
    return var*2

In [113]:
times2(2)

4

In [114]:
lambda var: var*2

## Map and Filter

In [115]:
seq = [1,2,3,4,5]

In [116]:
map(times2,seq)

In [117]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [118]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [119]:
filter(lambda item: item%2 == 0,seq)

In [120]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## Methods Refresher

In [121]:
st = 'hello my name is Sam'

In [122]:
st.lower()

'hello my name is sam'

In [123]:
st.upper()

'HELLO MY NAME IS SAM'

In [124]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [125]:
tweet = 'Go Sports! #Sports'

In [126]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [127]:
tweet.split('#')[1]

'Sports'

In [128]:
d = {'key1':1,'key2':2,'key3':3}

In [129]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [130]:
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

In [131]:
lst = [1,2,3]

In [132]:
lst.pop()

3

In [133]:
lst

[1, 2]

In [134]:
'x' in [1,2,3]

False

In [135]:
'x' in ['x','y','z']

True

# Great Job!